@font-face {
    font-family: "acme";
    src: url("Acme-Regular.ttf");
}

*{
    font-family: "Acme";
    margin: 0;}
    
body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient( deepskyblue, purple);

}

header{
    background-image: linear-gradient(purple,deepskyblue);
    top:0;
    margin: 0;
    padding: 50px;
   
    text-align:center ;
}

#Searchbar{
    flex-wrap: nowrap;
    height: 40px;
    width: 538px;
}

#searchMovie{
    flex-wrap: nowrap;
    border:1px solid rgb(133, 133, 133);
    border-radius:0px 5px 5px 0px;
    margin-left: -6px;
    width: 64px;
    height: 46px;}

#searchbox{
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    flex-direction:row-reverse;
}

footer{
    background-image: linear-gradient(purple ,deepskyblue);
    bottom:0;
    padding: 50px;
    background-color: deepskyblue;
    text-align:center ;}

#tvScreen{
    margin:20px;
    border: 10px solid #ff8000;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 350px;
    background: #0e0b01;
    border-radius: 60% / 20%;
    }

#searh-history{
    text-align:center;
    border-radius: 10px;
    margin:20px;
    width: 500px;
    height: 350px;
    background: #c0e1f0;}
#film{
    color: #ff8000;
}
#fetch{
    color: #ff8000;
}